
/* HOME CSS */

    .homeContainerDiv {
        /* display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px; */
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        background-color: #F0A868;
        /* max-height: 1000px; */
    }
    
    .bannerDiv { 
        /* grid-area: 2 / 2 / 3 / 8;  */
        grid-area: 1 / 2 / 2 / 6;
        background-color: #FFE8C2;
        border: solid;
    }

    .buttonbarDiv { 
        /* grid-area: 3 / 2 / 8 / 4;  */
        grid-area: 2 / 2 / 4 / 3;
        border: solid;
        background-color: #FFE8C2;
    }

    .mapDiv { 
        /* grid-area: 3 / 4 / 8 / 8;  */
        grid-area: 2 / 3 / 4 / 6;
        border: solid;
    }

    .detailsContainerDiv { 
        /* grid-area: 8 / 2 / 12 / 8;  */
        grid-area: 4 / 2 / 6 / 6;
        border: solid;
        background-color: #FFE8C2;
        /* max-height: 600px; */
        font-weight: bold;
    }
    
    .tab-parent{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .child{
        display: inline-block;
        width: 30%;
        margin: 2px;
        padding:1% 10%;
        background: #44444c;
        color: rgb(248, 245, 245);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        border-radius: 4px;
        text-align: center;
    }

    .tab-div {
        overflow: auto;
        height: 500px;
        margin: 20px;
        padding: 10px;
        margin-top: 30px;
    }
    
    .ul{
        list-style-type: none;
        /* max-height: 200px; */
    }

    .filters{
        padding-top: 20px;
        padding-left: 20px;
        text-align: center;
    }

    .login-form{
        background-color: #F0A868;
        text-align: center;
    }
    
    .mapSizeDiv{
        height: auto;
        width: auto; 
        
    }

    
